body{
    background-image: url('/img/500.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2560px 1440px;
    font-family: 'Numans', sans-serif;
    color: red;
    font-size: 500%;
}

.btntop{
    background-color: white;
    color: rgb(160, 20, 137);
    border-radius: 0.5rem;
    border: none;
    font-size: 25px;
}