@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2560px 1440px;
    font-family: 'Numans', sans-serif;
}


.container{
    height: 100%;
    /*align-content: center;*/
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    font-family: 'Numans';
    background-color: rgba(0,0,0,0.5) !important;
}

.card2{
    height: 420px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    font-family: 'Numans';
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
}

.card2-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    position: center;
    color:white;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.loginForm {
    display: flex;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.hdr {
    color: white;
    font-family: Numans;
}

p {
    color: white;
}

#notif {
    background-color : rgb(163, 112, 189);
    display : none;
    /*position: absolute;*/
    z-index: 210;
    left: 0;
    right: 0;
    height: 40;
    color: #182988;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 5px;
}